      <div class="row">
        <div class="col-md-12">
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">{{cert_threeLetterCode}} {{cert_name}}</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="chart-responsive">
                    <canvas id="pieChart" style="height: 100px;"></canvas>
                  </div>
              <!-- ./chart-responsive -->
                </div>
            <!-- /.col -->
                <div class="col-md-4">
                  <h4>{{cert_name}}</h4>
                  <h5><small>{{cert_description}}</small></h5>
                </div>

                <div class="col-md-4">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                          <h5>Contact Info</h5>
                          <h6><i class="fa fa-fw  fa-user"></i><a href="#" class="small-box-footer">{{cert_contactName}}</a></h6>
                          <h6><i class="fa fa-fw fa-envelope"></i><a href="#" class="small-box-footer">{{cert_contactEmail}}</a></h6>
                          <h6><i class="fa fa-fw fa-link"></i><a href="#" class="small-box-footer">{{cert_website}}</a></h6>
                        </div>
                    </div>
                </div>

            <!-- /.col -->
              </div>
          <!-- /.row -->
            </div>
        <!-- /.footer -->
          </div>
      <!-- /.box -->
        </div>
      </div>
