<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        $.ajax({
            type: "GET",
            url: "https://showme333.herokuapp.com/certificate",
            success: function(result)
            {
                // console.log(result);
                // var output = "HTML HEADER";
                // for (var i in result)
                // {
                //     output += "HTML CODE";
                // }
                // output += "ENDING HTML CODE";
                // displayResources.html(output);
                // $("LOCATION").addClass("LOCATION");
                $('#test').append(JSON.stringify(result));

            }
        })


        // $.get(netid + "/certificate", function(data, status){
        //     // what ever we want to do with the data 
        // });
    });
</script>
</head>
<body>
	<div id='test'>
		
	</div>
</body>
</html>