<!DOCTYPE html>
<html>


<body>


<h2>Create Object from JSON String</h2>

<p id="demo"></p>

<script>
var text = '{"employees":[' +
'{"firstName":"John","lastName":"Doe" },' +
'{"firstName":"Anna","lastName":"Smith" },' +
'{"firstName":"Peter","lastName":"Jones" }]}';

obj = JSON.parse(text);

var text = "";
var i;
for (i = 0; i < 3; i++) {
    text += obj.employees[i].firstName + " " + obj.employees[i].lastName + "<br>";
}
document.getElementById("demo").innerHTML = text;

</script>

<div id="test"></div>

<script>
var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
var text = "";
var i;
for (i = 0; i < cars.length; i++) {
    text += cars[i] + "<br>";
}
document.getElementById("test").innerHTML = text;
</script>

<div id="test2"></div>

<button onclick="myFunction()">Try it</button>

<script>
function myFunction() {
	for (i = 0; i < 5; i++) {
		var btn = document.createElement("BUTTON");
    	document.body.appendChild(btn);
	}
}
</script>

<div class = "row" >
	
</div>







</body>
</html>




